.page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.locations {
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.top > a {
    color: rgb(0, 132, 255);
}