.heading {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.location {
    background-color: rgb(33, 33, 33);
    color: whitesmoke;
    padding: 8px 16px;
    border-radius: 1000px;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 1em;
}

.locationInfoCont {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;

    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(203, 203, 203);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.locationInfoCont a:hover {
    text-decoration: underline;
}