.link {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent);
}