
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 12px 18px;
    padding-top: 24px;
    border-bottom: 0.75px solid rgb(235, 235, 235);
}


.results {
    padding-top: var(--padding-thin);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

