.btns {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.btns > a, .btns > button {
    padding: 16px 18px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(225, 225, 225);
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    justify-content: space-between;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}