.page {
    display: flex;
    flex-direction: column;
    gap: var(--padding-thick);
}

.page * {
    margin: 0;
}

.heading {
    font-size: 2.5rem;
    color: rgb(70, 70, 70);
    font-weight: 600;
}
.accountBtn {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}



.options {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.options > a {
    width: max-content;
    padding: 1rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; 
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    border-radius: 1rem;
    background-color: white;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
}

.options > a > .icon {
    width: max-content;
    color: gray !important;
}

.options > a:hover,
.options > a:active {
    outline: 1.2px solid var(--accent);
}

@media screen and (max-width: 1000px) {
    .options {
        flex-direction: column;
    }
    .options > a {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}