@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --bg-colour: rgb(243 241 239);
    --primary: rgb(15 19 34);
    --secondary: rgb(217, 188, 168);
    --secondary-lighter: rgba(217, 188, 168, 0.8);
    --tertiary: rgb(149 207 217);
    --accent: rgb(254 76 36);
    --red: rgb(255, 108, 108);
    --padding-thick: 2.4rem;
    --padding-thin: 1.6rem;

    --mobile-navbar-height: 64px;
    --main-padding: var(--padding-thick);
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    background-color: white;
    display: flex;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

@media screen and (max-width: 1500px) {
    body {
        flex-direction: column-reverse;
        height: 100vh;
        --main-padding: 16px;
    }
}