
.animated {
    display: flex;
    flex-direction: column;
    gap: var(--padding-thin);
    padding-top: 50%;
    transition: 0.4s;
}

.heading {
    font-size: 1.75rem;
}

.animated.searching {
    padding-top: 0;
}