.main {
    flex: 1;
    background-color: var(--bg-colour);
    padding: var(--main-padding);
    border-radius: 3rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
}

.mobileMenu > button {
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1000px) {
    .main {
        border-radius: 0;
        padding: 16px;
        flex: 1;
        /* height: calc(100vh - 48px); */
        padding-bottom: calc(var(--mobile-navbar-height) + var(--main-padding));
    }
    .mobileMenu {
        display: flex;
    }
    .mobileMain {
        padding-top: 0 !important;
    }
    .noPadding {
        padding: 0 !important;
    }
}

@media print {
    .main {
        border-radius: 0;
        padding: 0;
        background-color: white;
    }
}