.appWrapper {
    max-width: 600px;
    margin: auto;
    height: 100vh;
    position: relative;
}

.content {
    padding: 16px;
    padding-top: 34px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 25vh;
}

.searchContent {
    height: 100vh;
    padding: 16px;
    padding-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 25vh;
}

@media screen and (min-width: 600px) {
    .appWrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        max-width: unset;
        gap: 18px;
    }

    .content {
        width: 800px;
    }
}