.item {
    border-radius: 6px;
    color: inherit;
    border-bottom: 0.5px solid rgb(221, 221, 221);
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.item:hover {
    background-color: rgb(242, 242, 242);
    transition: 0.2s;
}

.inner {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.inner > img {
    border-radius: 6px;
    height: 3rem;
}

.container {
    display: flex;
    gap: 0.5em;
    align-items: center;
    border-radius: 1000px;
    font-size: 0.75rem;
    padding: 6px 12px;
    background-color: rgb(242, 242, 242);
    color: grey;
    font-weight: 400;
}