.input {
    font-size: inherit;
    font-family: inherit;
    font: inherit;
    border: none;
    background-color: transparent;
    white-space: wrap;
    width: 100%;
    resize: none;
    white-space: pre-wrap;

    min-height: 4rem;
}

.input:focus {
    outline: none;
}