.btns {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.btns > a {
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(197, 197, 197);
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}