.formItem {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.formItem > input[type=text],
.formItem > textarea {
    background-color: rgb(226, 226, 226);
    border-radius: 6px;
    font-size: 1.2rem;
    border: none;
    font-family: inherit;
    padding: 8px 12px;
}

.formItem > textarea {
    resize: vertical;
    height: 6rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}